# created by the templater tool {{ ansible_managed }}

locals {
  color_prefix = "dooder-"
  env_vars = read_terragrunt_config(find_in_parent_folders("environment.hcl"))
  root_vars = read_terragrunt_config(find_in_parent_folders("terragrunt.hcl"))
  env_name = local.env_vars.locals.env
}

terraform {
 source = "${get_terragrunt_dir()}/../../../modules//nogooz"
}

# if you have a dependancy
# dependency "vpc" {
#   config_path = "../vpc"
# }

inputs = {
  gooz_color = "${local.root_vars.locals.root_prefix}${local.color_prefix}${local.env_name}"
}
