# created by the templater tool {{ ansible_managed }}
.*.sw?
.idea
terragrunt.iml
vendor
.terraform
.vscode
*.tfstate*
*.out
.terragrunt-cache
.bundle
.ruby-version
.terraform.lock.hcl
terraform.tfvars
.Ds_Store
