# created by the templater tool {{ ansible_managed }}

locals {
  root_prefix = "stink-"
}

# If using remote state and lockfile uncomment this
# remote_state {
#   backend = "s3"
#   config = {
#     bucket         = "my-terraform-state"
#     key            = "${path_relative_to_include()}/terraform.tfstate"
#     region         = "us-east-1"
#     encrypt        = true
#     dynamodb_table = "my-lock-table"
#   }
# }
# 
# generate "provider" {
#   path = "provider.tf"
#   if_exists = "overwrite_terragrunt"
#   contents = <<EOF
# provider "aws" {
#   assume_role {
#     role_arn = "arn:aws:iam::0123456789:role/terragrunt"
#   }
# }
# EOF
# }

