# created by the templater tool {{ ansible_managed }}

include "root" {
  path = find_in_parent_folders()
  expose = true
}

include "global" {
  path = "${get_terragrunt_dir()}/../../_global/main.hcl"
  expose = true
}


